<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535048481886-9dhh6dvbskqrnfk9lucq8p0fjfsreuq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535048481886-9dhh6dvbskqrnfk9lucq8p0fjfsreuq2</string>
	<key>API_KEY</key>
	<string>AIzaSyDUCTVxafFC4clRbwcNGVXrK6Kg7cQnFqk</string>
	<key>GCM_SENDER_ID</key>
	<string>535048481886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rayn.rayngym</string>
	<key>PROJECT_ID</key>
	<string>house-of-edge-gym</string>
	<key>STORAGE_BUCKET</key>
	<string>house-of-edge-gym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535048481886:ios:efb9c5e3f69fd87bba98cf</string>
</dict>
</plist>